input {
    background-color: #ffffff;
    border-color: #aaaaaa;
    padding: 3%;
    font-size: 18px;
    border-width: 2px;
    border-radius: 18px;
    border-style: solid;
    text-shadow: 0px 0px 0px rgba(42, 42, 42, .0);
    margin-top: 2%;
    width: 90vw;
}

